alabaster==0.7.10
appnope==0.1.0
asn1crypto==0.24.0
Babel==2.5.3
backcall==0.1.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
decorator==4.2.1
Django==2.0.2
django-pure-pagination==0.3.0
django-ranged-response==0.2.0
django-simple-captcha==0.5.6
docutils==0.14
idna==2.6
imagesize==1.0.0
ipython==6.3.0
ipython-genutils==0.2.0
jedi==0.11.1
Jinja2==2.10
lxml==4.2.1
MarkupSafe==1.0
numpydoc==0.8.0
packaging==17.1
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.1.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycparser==2.18
Pygments==2.2.0
PyMySQL==0.8.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
PySocks==1.6.8
pytz==2018.3
requests==2.18.4
selenium==3.11.0
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.2
sphinxcontrib-websupport==1.0.1
traitlets==4.3.2
typing==3.6.4
urllib3==1.24.2
wcwidth==0.1.7
