<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

Login:
<div>
    <form method="post" action="/login/">
        <table>
            {% csrf_token %}
            <tr>
                <td>用户名：</td>
                <td><input name="username" type="text"></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input name="password" type="password"></td>
            </tr>
            <tr>
                <td><input name="Submit" type="submit"></td>
            </tr>
        </table>

    </form>
</div>

</body>
</html>